<div class = "container">
   <div class = "row">
	   <div class="col-md-3">
      <h2>商品詳細ページ</h2><br>
      <%= attachment_image_tag @item, :item_image, :fill, 150, 150, fallback: "download.jpg"%><br>
     </div>
        <div class="col-md-9">
          <table class = 'table'>
            <tr>
             <th>商品名</th>
             <td><%= @item.item_name %></td>
            </tr>
            <tr> 
              <th>商品説明</th>
              <td><%= @item.item_profile %></td>
            </tr>
            <tr>
             <th>ジャンル</th>
             <td><%= @item.genre.genre_name %></td>
            </tr>
            <tr>
              <th>税込価格(税抜き)</th>   
              <td><%= (@item.price * 1.1r).to_i %>(<%= @item.price %>)円</td>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td><% if @item.sale_status %>
                  販売中
                  <% else %>
                  販売停止中
                  <% end %></td>
              </tr>
         </table>
         <%= link_to "編集", edit_admin_item_path(@item.id),class: "btn btn-primary" %>
        </div>
     </div>

   </div> 
</div>
 