<div class="container">
	<div class="row">
			<div class="col-xs-3">
				<h2>ジャンル検索</h2>
				<ul>
				 <li><% @genres.each do |genre| %></li>
				 <% end %>
				</ul>
			</div>

　　　　　　<div class="row">
			<div class="col-xs-9">
				<h2>商品一覧</h2><p>(全<%= @items.count %>件)</p>
				<div class="item">
					<div class="itemlist">
						<dl>
							<% @items.each do |item| %>
							<dd><%= attachment_image_tag item, :item_image, size: "50x50", fallback: "no_image.jpg" %></dd>
							<dt><%= link_to item.item_name,item_path(item) %></dt>
							<dd><%= item.price %></dd>
							<% end %>
						</dl>
					</div>
				</div>
			</div>
		  </div>
		<%= paginate @items %>
	</div>
</div>