<br>
<div class="container">
	<div class="row">
		<div class="col-3" style="border: 1px solid #C0C0C0; padding: 10px; margin-top: 40px; height: auto;">
			<h5 style="text-align: center;">ジャンル検索</h5>
			<hr>
			<ul>
				<% @genres.each do |genre| %>
				<li><%= genre.genre_name %></li>
				<% end %>
			</ul>
		</div>
		<div class="col">
				<%= attachment_image_tag @item, :item_image, size: "200x200", format: 'jpeg' %>
				<ul>
					<li><%= @item.item_name %></li>
					<li><%= @item.item_profile %></li>
					<li><%= @item.price %></li>
					<!-- priceは税抜き価格 -->
				</ul>

					<% unless current_member.exist_items?(@item) %>
						 <ul>
							<%= form_for(@cart_item) do |f| %>
							<%= f.hidden_field :item_id, :value => @item.id %>
							<li><%= f.label :number, "数量" %></li>
							<li><%= f.select :number, [1,2,3,4,5,6,7,8,9,10] %></li>
							<li><%= f.submit "カートに入れる",class: "btn btn-primary" %></li>
							<% end %>
						 </ul>
				    <% else %>
				    <P>既にカートにあります。</P>
					<% end %>
				<div><%= link_to"一覧へ戻る",items_path, class: "btn-sm btn-success" %></div>
			</div>
		</div>
	</div>
</div>
