<div class="container">
	<div class="row">
		<div class="">
			<h2>マイページ</h2>
		</div>
	</div>

	<div class="row">
		<div class="">
			<h5>登録情報</h5>
			<div class="btn btn-primary"><%= link_to '編集する', "#" %></div>
			<div class="btn btn-primary"><%= link_to ,'パスワードを変更する', "#" %></div>
		</div>
	</div>
	<div class="row">
		<div class="">
			<table>
				<thead>
					<tr>
						<th>氏名</th>
					</tr>
					<tr>
						<th>カナ</th>
					</tr>
					<tr>
						<th>郵便番号</th>
					</tr>
					<tr>
						<th>住所</th>
					</tr>
					<tr>
						<th>電話番号</th>
					</tr>
					<tr>
						<th>メールアドレス</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= currentuser.surname %> <%= currentuser.name %></td>
					</tr>
					<tr>
						<td><%=  %></td>
					</tr>
					<tr>
						<td><%=  %></td>
					</tr>
					<tr>
						<td><%=  %></td>
					</tr>
					<tr>
						<td><%=  %></td>
					</tr>
					<tr>
						<td><%=  %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>