<br>
<div class="container">
	<div class="row">
			<h5>登録情報編集</h5>
	</div>

	<div class="row">
		<%= form_for (@member) do |f| %>
    <table class="table table-condensed">
      <tr>
        <th><%= f.label :名前 %> (<%= f.label :姓 %>) (<%= f.label :名 %>)</th>
        <td><%= f.text_field :surname, autofocus: true, autocomplete: "surname" %> <%= f.text_field :name, autocomplete: "name" %></td>
      </tr>
      <tr>
        <th><%= f.label :フリガナ %> (<%= f.label :セイ %>) (<%= f.label :メイ %>)</th>
        <td><%= f.text_field :kana_surname, autocomplete: "kana_surname" %> <%= f.text_field :kana_name, autocomplete: "kana_name" %></td>
      </tr>
      <tr>
        <th><%= f.label :メールアドレス %></th>
        <td><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
        <td><%= f.text_field :postal_code, autocomplete: "postal_code" %></td>
      </tr>
      <tr>
        <th><%= f.label :住所 %></th>
        <td><%= f.text_area :address, autocomplete: "address" %></td>
      </tr>
      <tr>
        <th><%= f.label :"電話番号(ハイフンなし)" %></th>
        <td><%= f.telephone_field :phone, autocomplete: "phone" %></td>
      </tr>
    </table>

      <div class="text-center">
        <%= f.submit "編集内容を保存する", class: "btn btn-success" %> <%= link_to '退会する', confirm_path, class: "btn btn-danger" %>
      </div>
		<% end %>
	</div>
</div>