<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>登録情報編集</h2>
		</div>
	</div>

	<div class="row">
	  <%= form_with(model:@member, url:member_path,local:true) do |form| %>	
      	<%= form.label :氏名 %>
		<%= form.text_field :surname %>
		<%= form.text_field :name %><br>
	 	<%= form.label :フリガナ %>
	 	<%= form.text_field :kana_surname %>
		<%= form.text_field :kana_name %><br>
		<%= form.label :郵便番号 %>
        <%= form.text_field :postal_code %><br>
        <%= form.label :住所 %>
        <%= form.text_field :address %><br>
        <%= form.label :電話番号 %>
        <%= form.text_field :phone %><br>
        <%= form.label :メールアドレス %>
        <%= form.text_field :email %><br>
　　　　<%= form.submit %>

		<% end %>
	</div>
</div>