<div class="show-container" style="width: 50%; margin: 20px auto;">
	<div class="row">
		<div class="col-12">
			<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>
		</div>
		<br>
		<div class="col-12">
			<p style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px; float: left;">登録情報</p>
			<%= link_to '登録情報編集', edit_member_path(current_member), class:"btn btn-info" %>
			<%= link_to 'パスワード変更', edit_member_registration_path(current_member), class:"btn btn-success" %>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">氏名</th>
					<td><%= current_member.surname %> <%= current_member.name %></td>
				</tr>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">カナ</th>
					<td><%= current_member.kana_surname %> <%= current_member.kana_name %></td>
				</tr>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">郵便番号</th>
					<td><%= current_member.postal_code %></td>
				</tr>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">住所</th>
					<td><%= current_member.address %></td>
				</tr>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">電話番号</th>
					<td><%= current_member.phone %></td>
				</tr>
				<tr>
					<th style="background-color: #dad7d7; border-bottom: 1px solid #ffff;">メールアドレス</th>
					<td style="border-bottom: 1px solid #dad7d7;"><%= current_member.email %></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px; float: left;">配送先</p>
			<%= link_to '一覧を見る', addresses_path, class:"btn btn-info btn-sm" %>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px; float: left;">注文履歴</p>
			<%= link_to '一覧を見る', orders_path, class:"btn btn-info btn-sm" %>
			<hr>
		</div>
	</div>
</div>