<div class = "container">
  <div class = "row">
   <%= @member.surname %><%= @member.name %>さんの会員情報編集<br>
    
   <table class = 'table'>
    <tr>
      <th>会員ID</th>
      <td><%= @member.id %></td>
    </tr>
    <%= form_with(model:@member, url:admin_admin_path,local:true) do |form| %>	
       <tr>
        <th><%= form.label :氏名 %></th>
	      <td><%= form.text_field :surname %>  <%= form.text_field :name %><br></td>
       </tr>
       <tr>
        <th><%= form.label :フリガナ %></th>
	      <td><%= form.text_field :kana_surname %>  <%= form.text_field :kana_name %></td>
       </tr>
       <tr>
        <th><%= form.label :郵便番号 %></th>
        <td><%= form.text_field :postal_code %></td>
       </tr>
       <tr>
        <th><%= form.label :住所 %></th>
        <td><%= form.text_field :address %></td>
       </tr>
       <tr>
        <th><%= form.label :電話番号 %></th>
        <td><%= form.text_field :phone %></td>
       </tr>
       <tr>
        <th><%= form.label :メールアドレス %></th>
        <td><%= form.text_field :email %></td>
       </tr>
       <tr>
         <th><%= form.label :会員ステータス %></th>
         <td><%= form.radio_button :quit, :true %>
              <%= form.label :quit, "有効", {value: :true, style: "display: inline-block;"} %>
              <%= form.radio_button :quit, :false %>
              <%= form.label :quit, "無効", {value: :false, style: "display: inline-block;"} %>
         </td>
       </tr>
      <th> <%= form.submit :変更を保存する ,class: "btn btn-primary" %></th>       
    <% end %>
  </table>
　</div>
</div>